PORT=5000

MONGO_URI=mongodb+srv://divakarkaran427_db_user:TcYDTf9BSFDxZ7xV@cluster0.5bxcjzi.mongodb.net/Bharattube?retryWrites=true&w=majority

JWT_SECRET=BharatTube@SuperSecret#2026$India@Platform

CLIENT_URL=http://localhost:5173

GENUINE_VIEW_MIN_WATCH_PERCENT=34
GENUINE_VIEW_COOLDOWN_MINUTES=30
VIEW_TRACKING_HASH_SALT=eea03afa4f9ae34d49a09288048df93b7143ac69db9264ac71f9edb11ee1415e


GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret